@using StackOverflow.Data
@model IEnumerable<Question>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @foreach (var q in Model)
        {
            <div class="well">
                <h3><a href="/home/question?id=@q.Id">@q.Title.ToUpper()</a></h3>
                <div>
                    <span>Tags:</span>
                    @foreach (var qt in q.QuestionsTags)
                    {
                        <span class="label label-primary">@qt.Tag.Name</span>
                    }
                </div>
                <div style="margin-top: 10px;">
                    @(q.Text.Length < 200 ? q.Text : (q.Text.Substring(0, 200) + "..."))
                </div>
                <span>Likes: @q.Likes.Count</span>
                <br />
                <span>@q.Answers.Count answer(s)</span>
            </div>
        }
    </div>
</div>
